<div class="container form-container">

  <div class="header">
    <h2 class="title">Log in</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="six columns">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'u-full-width' %>
      </div>

      <div class="six columns">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: 'u-full-width' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="row">
        <label>
          <%= f.check_box :remember_me %>
          Remember me
        </label>
      </div>
    <% end -%>

    <br />
    <div class="row">
      <%= f.submit "Log in", class: 'button-primary' %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>

</div>