<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @bought_movie.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @bought_movie.integer %>
</p>

<p>
  <strong>String:</strong>
  <%= @bought_movie.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @bought_movie.string %>
</p>

<%= link_to 'Edit', edit_bought_movie_path(@bought_movie) %> |
<%= link_to 'Back', bought_movies_path %>
